.cell {
    background-color: rgb(194, 194, 194);
    width: 25px;
    height: 25px;
    border: 4px outset;
}

.revealed {
    border: 1px solid grey;
    width: 31px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

.maroon {
    color: maroon;
}