.header {
    background-color: rgb(194, 194, 194);
    border: 4px inset;
    height: 100px;
}

.board-ctn {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(194, 194, 194);
    border: 4px inset;
}

.outer-border {
    background-color: rgb(194, 194, 194);
    border: 4px outset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    background-color: rgb(194, 194, 194);
    width: 50px;
    height: 50px;
    border: 4px outset;
    cursor: pointer;
}